/*media queries#########################################*/
@media screen and (max-width: 1400px) and (min-width: 951px) {

}



@media screen and (max-width: 950px) and (min-width: 600px) {

	/*menu header desabilita*/
	.headerMenuWrapper {
		display: none;
	}



	/*hamburger menu In*/
	.hamburgerMenuWrapperIn {
		display: block;
	}


	.hamburgerMenuBtnIn {
		display: block;
	}

	.whyWrapper {
		padding: 160px 40px 40px 40px;
	}


	.logosContainer {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 100px;
	}

	.logosContainer amp-anim {
		width: 20%;
	}

}


@media screen and (max-width: 599px) and (min-width: 400px) {



	/*menu header desabilita*/
	.headerMenuWrapper {
		display: none;
	}




	/*footer*/
/*    .footer-container{display:grid;grid-template-columns:0.2fr 4fr 1fr 0.2fr;grid-template-rows:40px 200px 40px}
    .footer-face-icon{width:60px;height:60px}
    .footer-linkedin-icon{width:60px;height:60px}*/




    /*hamburger menu In*/
	.hamburgerMenuWrapperIn {
		display: block;
	}



	.hamburgerMenuBtnIn {
		display: block;
	}

	.whyWrapper {
	padding: 160px 20px 40px 20px;
	}

	.whyTitle {
		font-size: 40px;
		text-align: center;
	}

	.logosContainer {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
	}


	.logosContainer amp-anim {
		width: 20%;
		top: 0;
	}

}



@media screen and (max-width: 399px) and (min-width: 320px) {




	/*menu header desabilita*/
	.headerMenuWrapper {
		display: none;
	}




	/*footer*/
	.footer-left-icons1 h3{font-size:14px}
	.footer-left-icons2 h3{font-size:14px; line-height: 1.4}
	.footer-container p{font-size:12px}
	.fotter-left-side p{font-size:12px}




	/*hamburger menu*/
	.hamburgerMenuWrapperIn {
		display: block;
	}




	.hamburgerMenuBtnIn {
		display: block;
	}


	.whyWrapper {
	padding: 160px 20px 40px 20px;
	}


	.whyTitle {
		font-size: 35px;
		text-align: center;
	}


		.logosContainer {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 100px;
	}

	.logosContainer amp-anim {
		width: 100px;
		height: 50px;
		top: 0;
	}


	.logosContainer {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
	}

}